<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="tests" thread-count="2">
    <test name="Chrome test">
        <parameter name="browser" value="chrome" />
        <parameter name="name" value="Ювелирное искусство" />
        <classes>
            <class name="RunnerTest" />
        </classes>
    </test>
    <test name="Firefox test">
        <parameter name="browser" value="firefox" />
        <parameter name="name" value="Ювелирное искусство" />
        <classes>
            <class name="RunnerTest" />
        </classes>
    </test>
</suite>